{% extends "layout.html" %}
{% block content %}
	<div class="container rounded-pill">
	<h3><b>Hello {{name}}<font color=red>,</font></b></h3>

	
	</br>
	Please follow this notes to configure kubectl with openID.

	</br>

	<b>Step 1</b> <font color=red>.</font> Ensure that you have cluster kubeconfig available or Ask your administrator.
	</br>
	<b>Step 2</b> <font color=red>.</font> Copy and run below command on your terminal,

<div class="card bg-light mb-3 rounded-pill" style="max-width: 70rem;">
  <div class="card-body">
    <p class="card-text">kubectl config set-credentials {{name}} --auth-provider=oidc --auth-provider-arg=idp-issuer-url={{iss}} --auth-provider-arg=client-id=kubernetes --auth-provider-arg=client-secret=8c2a1d1f-8573-4440-baef-c7d2e9e65fb9 --auth-provider-arg=refresh-token={{refresh}} --auth-provider-arg=id-token={{access}}</p>
  </div>
</div>
	</div>

{% endblock content %}
