<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/bootstrap.min.css">

    <title>Kubernetes Toll-Gate</title>
  </head>
  <body>
  <div class=container>

  <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <b>Kube <font color=red>Toll</font>-<font color=gray>Gate</font></b>
  </a>
  </nav>

</br>

{% block content %} {% endblock content %}

</br>
<center>Opensource Project - <a href="https://github.com/jamesarems">Kube Toll-Gate</a> - ( <font color=gray>Logout Out ? <a href="/logout">Yes</a></font> )</center>

  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="static/jquery-3.2.1.slim.min.js"</script>
    <script src="static/popper.min.js"</script>
    <script src="static/bootstrap.min.js"</script>
  </body>
</html>
